<% include head.ejs%>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span><%= company.name %></h3>


                <a href="/unlink/local" class="btn btn-default">Unlink</a>


            </div>
        </div>


        <div class="col-sm-6">
            <div class="well">

                <%= messages %>

            </div>
        </div>
<% include foot.ejs%>
